.form {
    height: 400px;
    width: 300px;
    margin: 5px;
    border-radius: 5px;
}

.input-area {
    display: flex;
    flex-direction: column;
}

label{
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    text-align: center;
    font-weight: bold;
}